.section-image {
  @apply relative w-full text-white overflow-hidden;
  height: 961px;

  &__bg {
    @apply object-cover;
  }

  &__content {
    @apply absolute;
    top: 74px;
    left: 166px;
  }

  &__subtitle {
    @apply text-[14px]  font-geelyBoldAlt font-normal leading-[100%] tracking-[0.25em] uppercase mb-4 max-w-[171px];
  }

  &__title {
    @apply text-[38px]  font-geelyBoldAlt font-normal leading-[100%] mb-6 max-w-[612px];
  }

  &__description {
    @apply text-[18px] font-inter font-medium leading-[100%] text-white max-w-[662px];
  }
}
