.footer {
  @apply text-white py-6 text-[14px] leading-none font-normal font-geelyLight;
  background-color: #000;

  @screen md {
    background-color: #383838;
  }

  &__inner {
    @apply max-w-[1800px] mx-auto px-6 flex flex-col items-center gap-6;

    @screen md {
      @apply flex-row justify-between items-center;
    }
  }

  &__logo {
    @apply flex-shrink-0;
    img {
      @apply w-[143px] h-[23px] object-contain;
    }
  }

  &__center {
    @apply flex flex-col items-center gap-3 text-center;

    @media (min-width: 769px) and (max-width: 1199px) {
      flex-direction: column;
      text-align: center;
      gap: 6px;
    }

    @screen xl {
      @apply flex-row gap-12 items-center text-left;
    }
  }

  &__copyright {
    @apply hidden;

    @screen md {
      @apply block;
    }
  }

  &__menu {
    @apply flex flex-col items-center gap-2;

    @screen xl {
      @apply flex-row gap-x-6;
    }
  }

  &__logo-partner {
    @apply flex-shrink-0;

    @screen md {
      @apply mt-2;
    }

    img {
      @apply w-[154px] h-[127px] object-contain;
    }
  }
}
